<a href="https://colab.research.google.com/github/Harsh-Patel25/Python/blob/main/daily_lessons/Day7_0_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“š Dayâ€‘7 Lesson: Python Data Structures and Boolean

---

## 1. Boolean & Boolean Variables

**Basics:**
- Booleans are the two constant objects in Python: `True` and `False`.
- In numeric contexts, `True` behaves like `1` and `False` like `0`.

In [ ]:

print(True, False)  # Output: True False
print(type(True))   # Output: <class 'bool'>
print(type(False))  # Output: <class 'bool'>

print(bool(0))      # Output: False (0 is false)
print(bool(123))    # Output: True (non-zero is true)
print(bool(""))     # Output: False (empty string is false)
print(bool("Hello"))# Output: True

normalize = True
if normalize:
    # Proceed to normalize data
    print("Data normalization activated")
else:
    print("Skipping normalization")

## 2. Boolean and Logical Operators

**Operators:**
- `and`: Returns True if both operands are True.
- `or`: Returns True if at least one operand is True.
- `not`: Inverts the Boolean value.

In [ ]:

a = True
b = False
print(a and b)  # False
print(a or b)   # True
print(not a)    # False

x = 10
y = 20
if x < y and x > 0:
    print("x is less than y and positive")

age = 45
bp = 130
if age > 40 and bp > 120:
    print("High risk patient")
else:
    print("Low risk patient")

my_str = "Krish123"
result = my_str.isalnum() or my_str.istitle()
print(result)  # True because "Krish123" is alphanumeric

## 3. Lists

**Definition:**
- A list is an ordered, mutable collection of elements.
- Lists are defined with square brackets `[]`.

In [ ]:

lst = [1, 2, 3, "Krish", 100]
print(lst)         # [1, 2, 3, 'Krish', 100]
print(lst[0])      # 1
print(lst[1:4])    # [2, 3, 'Krish']

lst[3] = "Naik"
print(lst)         # [1, 2, 3, 'Naik', 100]

lst.append("New Element")
print(lst)

lst.insert(2, "Inserted Element")
print(lst)

lst.extend([200, 300])
print(lst)

popped_item = lst.pop()
print("Popped:", popped_item)

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num ** 2)

iris_features = [5.1, 3.5, 1.4, 0.2]
iris_dataset = [
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3.0, 1.4, 0.2],
    [6.2, 3.4, 5.4, 2.3]
]

## 4. Comparison Operators

**Definition:**
- Operators like `<`, `>`, `<=`, `>=`, `==`, and `!=` compare values and return a Boolean result.

In [ ]:

print(5 < 10)   # True
print(5 == 5)   # True
print(7 != 5)   # True

lst = [1, 2, 3, 4, 5]
print(min(lst))  # 1
print(max(lst))  # 5

threshold = 50
value = 65
if value > threshold:
    print("Above threshold")
else:
    print("Below threshold")

## 5. Dictionaries

**Definition:**
- A dictionary stores key-value pairs and is defined with curly braces `{}`.
- Dictionaries are unordered and mutable.

In [ ]:

student = {"name": "Krish", "age": 20, "grade": "A"}
print(student["name"])  # Output: Krish

for key in student:
    print(key)

for value in student.values():
    print(value)

for key, value in student.items():
    print(key, ":", value)

student["grade"] = "A+"
student["city"] = "Mumbai"  # Adding a new key-value pair
print(student)

cars = {
    "Car1": {"model": "Audi", "year": 2010},
    "Car2": {"model": "BMW", "year": 2012}
}
print(cars["Car1"]["model"])  # Output: Audi

data_point = {"sepal_length": 5.1, "sepal_width": 3.5, "petal_length": 1.4, "petal_width": 0.2}

## 6. Tuples

**Definition:**
- A tuple is an ordered, immutable collection.
- Tuples are defined using parentheses `()`.

In [ ]:

my_tuple = (1, 2, 3, "Krish")
print(my_tuple)  # (1, 2, 3, 'Krish')
print(my_tuple[0])  # 1

print(my_tuple.count(1))  # Output: 1
print(my_tuple.index("Krish"))

image_shape = (28, 28)  # For a grayscale image of size 28x28

## 7. Sets

**Definition:**
- A set is an unordered collection of unique elements.
- Defined using curly braces `{}` or the `set()` function.

In [ ]:

my_set = {1, 2, 3, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # Output: {2, 3}
print(set1.union(set2))  # Output: {1, 2, 3, 4}
print(set1.difference(set2))  # Output: {1}

labels = ["cat", "dog", "cat", "bird"]
unique_labels = set(labels)
print(unique_labels)  # Output: {'dog', 'cat', 'bird'}

## Bringing It All Together â€“ Mini ML Project Example

Imagine you have a dataset of student records stored as dictionaries and you want to filter the students who meet certain criteria, then analyze the data.

In [ ]:

students = [
    {"name": "Krish", "age": 20, "score": 85, "passed": True},
    {"name": "Ankur", "age": 19, "score": 65, "passed": False},
    {"name": "John", "age": 21, "score": 90, "passed": True},
    {"name": "Bala", "age": 22, "score": 70, "passed": False}
]

passed_students = [student for student in students if student["passed"]]
scores = [student["score"] for student in passed_students]
average_score = sum(scores) / len(scores) if scores else 0

print("Passed Students:", passed_students)
print("Average Score of Passed Students:", average_score)

## Summary

- Booleans help represent truth values and drive conditional logic.
- Logical Operators (`and`, `or`, `not`) build complex conditionsâ€”useful in data filtering.
- Lists are dynamic, ordered collections used to store and iterate over datasets.
- Comparison Operators enable decision-making by comparing values.
- Dictionaries map keys to values and are essential for structured data.
- Tuples offer immutable collections, great for fixed records.
- Sets handle unique elements and support fast membership testing.